<!DOCTYPE html>
<html>
<head>
  <title>Django Bookmarks | {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="django_marcadores/marcadores/site_media/style.css" type="text/css" />
</head>
<body>
  
  <div id="nav">
    <a href="/">home</a> |
    {% if user.is_authenticated %}
      Bienvenido {{ user.usuarionombre }}
      (<a href="/logout">logout</a>)
    {% else %}
      <a href="/login/">login</a> |
      <a href="/registro/">regístrate</a>
    {% endif %}
</div>

  <h1>{% block head %}{% endblock %}</h1>
  {% block content %}{% endblock %}
</body>
</html>